.photo-grid {
    width: 1184px;
    height: 671px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    gap: 16px;
    margin: 0 auto;
}
@media screen and (max-width: 1024px) {
    .photo-grid {
        width: 928px;
        height: 942px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);  
        gap: 14px;
    }
}