.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%; 
    margin: 0; 
    margin-bottom: 26px; 
}
.place__paragraph:nth-child(2) {
    margin-bottom: 0;
}