.place {
    width: 984px;
    height: 660px;
    display: grid;
    grid-template-columns: minmax(460px, 1fr) minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(460px, 1fr);
    row-gap: 48px;
    column-gap: 40px;
    margin: 0 auto;
    margin-top: 80px;
}
.place:nth-child(1) {
    margin-top: 92px;
}

@media screen and (max-width: 1024px) {
    .place {
        display: grid;
        grid-template-columns: minmax(440px, 1fr) minmax(min-content, max-content);
        grid-template-rows: minmax(min-content, max-content) minmax(440px, 1fr);
        column-gap: 32px;  
    }
}